@mixin btnReset {
    font-family: "open_sans", sant-serif;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    appearance: none;
    display: inline-block;
    cursor: pointer;
  }
  @mixin listReset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  @mixin linkReset {
    text-decoration: none;
    &:focus-visible {
      border: none;
      outline: none;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  @mixin title {
    font-size: 64px;
color: $color-FFFFFF;
  }
  @mixin container {
    padding: 0 80px 100px;
  }